<h1> <%= @user.username%>'s Watchlist</h1>

<h2>To Watch:</h2>


<% @user_adds.each do |a| %>
    <% if !a.seen %>
    <h3><%= a.watching.title%></h3>
    <a href="/watchings/<%= a.watching.id %>"><img src="<%= a.watching.image_url %>"></a>
    <% end %>
    <% end %>
<h2>Watched:</h2>
    <% @user_adds.each do |a| %>
    <% if a.seen %>
    <h3><%= a.watching.title%></h3>
    <a href="/watchings/<%= a.watching.id %>"><img src="<%= a.watching.image_url %>"></a>
    <% end %>
    <% end %>

